body h1{
    font-family: 'Bona Nova', serif;
    font-size: 50px;
}

.orange{
    color: orange;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.flex_container{
    display: flex;
    margin-bottom: 60px;
}
.top_section{
    width: 50%;
    padding-left: 5%;
}

.top_section img{
    width: 85%;
}

.link_button{
    text-decoration: none;
    background-image: linear-gradient(rgba(140, 33, 172, 0.822),blue);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}

.top_banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

/*Middle section*/

.middle_section{
    width: 50%;
    padding-left: 5%;
    
}
.middle_section img{
    width: 90%;
}
.dream_big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle_section p{
    padding-right: 100px;
    margin-bottom: 30px;
}



.bottom_half{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: -4px 8px 16px 0px rgba(0,0,0,0.52);
    padding: 35px;
    
}

.experience_area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}


